/* add css styles here (optional) */

.test {
  display: inline-block;
  margin: 2em auto;
  border: 2px solid #000;
  font-size: 2em;
}

li {
  list-style-type: none;
}
.navigation {
  color: #2c7cf1 !important;
  cursor: pointer;
}
.calendar-view-setting {
  display: flex;
  position: absolute;
  padding: 7px;
}

button {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  padding: 0 !important;
  margin-right: 9px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #838d93;
  border: 1px solid #f0f1f1;
  cursor: pointer;
  line-height: 15px;
}

.active {
  color: #f1802c;
  border: 1px solid #f1802c;
}
